<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="DB2Tables" targetRuntime="MyBatis3" defaultModelType="flat">
        <plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <!-- 把example换成Criteria -->
            <property name="searchString" value="[e|E]xample$"/>
            <property name="replaceString" value="Criteria"/>
        </plugin>

        <commentGenerator>
            <!-- 忽略注释 -->
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- ?serverTimezone=UTC  6.0版本需要加上 -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/caoyi?serverTimezone=UTC" userId="root"
                        password="lfp1991lfp">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- generate Model -->
        <javaModelGenerator targetPackage="com.example.user.model"
                            targetProject="${entity.target.dir}">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>


        <!-- 自动生成xml（但是好像一直没有生成功，反正也不用xml） -->
        <sqlMapGenerator targetPackage="com.example.user.model.xml"
                         targetProject="${entity.target.dir}">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- 自动生成mapper接口, 可以是 ANNOTATEDMAPPER(注解), XMLMAPPER(xml), MIXEDMAPPER(不知道) -->
        <javaClientGenerator
                type="ANNOTATEDMAPPER"
                targetPackage="com.example.user.model.mapper"
                implementationPackage="com.example.user.model.mapper.impl"
                targetProject="${entity.target.dir}">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- 去掉末尾为example的字眼 -->
        <table schema="general"
               tableName="user_info" domainObjectName="UserInfo"
               enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"/>
    </context>
</generatorConfiguration>