<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.model.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.example.user.model.UserInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="ID" jdbcType="INTEGER" property="id"/>
        <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="SALT" jdbcType="VARCHAR" property="salt"/>
        <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="GENDER" jdbcType="SMALLINT" property="gender"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="ICON" jdbcType="VARCHAR" property="icon"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="STATE" jdbcType="CHAR" property="state"/>
        <result column="LOGIN_COUNT" jdbcType="SMALLINT" property="loginCount"/>
        <result column="PREVIOUS_VISIT" jdbcType="TIMESTAMP" property="previousVisit"/>
        <result column="LAST_VISIT" jdbcType="TIMESTAMP" property="lastVisit"/>
        <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="DESCRIPTION" jdbcType="LONGVARCHAR" property="description"/>
    </resultMap>
</mapper>