<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.model.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.example.user.model.UserInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="u_i_ID" jdbcType="INTEGER" property="id"/>
        <result column="u_i_LOGIN_NAME" jdbcType="VARCHAR" property="loginName"/>
        <result column="u_i_NAME" jdbcType="VARCHAR" property="name"/>
        <result column="u_i_PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="u_i_SALT" jdbcType="VARCHAR" property="salt"/>
        <result column="u_i_BIRTHDAY" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="u_i_GENDER" jdbcType="SMALLINT" property="gender"/>
        <result column="u_i_EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="u_i_PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="u_i_ICON" jdbcType="VARCHAR" property="icon"/>
        <result column="u_i_CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="u_i_STATE" jdbcType="CHAR" property="state"/>
        <result column="u_i_LOGIN_COUNT" jdbcType="SMALLINT" property="loginCount"/>
        <result column="u_i_PREVIOUS_VISIT" jdbcType="TIMESTAMP" property="previousVisit"/>
        <result column="u_i_LAST_VISIT" jdbcType="TIMESTAMP" property="lastVisit"/>
        <result column="u_i_DEL_FLAG" jdbcType="VARCHAR" property="delFlag"/>
        <result column="u_i_UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="u_i_DESCRIPTION" jdbcType="LONGVARCHAR" property="description"/>
    </resultMap>
</mapper>